:root {
    /* Colors */
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

    /* Fonts */
    --ff-headers: "Young Serif", serif;
    --ff-base: "Outfit", serif;
}

/* ----- Global ----- */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-base);
    background: var(--Stone-100);
    color: var(--Stone-600);
    min-height: 122.1875rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----- Layout ----- */
.card {
    background-color: var(--White);
    max-width: 46rem;
    margin: auto;
}

.card__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem 2rem;
}

.card__header, .card__subtitle {
    font-family: var(--ff-headers);
}

.card__header {
    color: var(--Stone-900);
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    margin: 2rem 0 1rem;
}

.card__subtitle {
    color: var(--Brown-800);
    font-weight: 400;
    margin-bottom: 1rem;
}

.gap-10px {
    display: grid;
    gap: .625rem;
}

/* Preparation section */
.preparation-section {
    background-color: var(--Rose-50);
    border-radius: 1rem;
    padding: 1rem 1.5rem 1.5rem;
}

.preparation-header {
    color: var(--Rose-800);
    font-family: var(--ff-base);
    font-weight: 600;
    font-size: 1.25rem;
}

.preparation-list {
    padding: 0 1rem;
}

.preparation-list li::marker {
    color: var(--Rose-800);
    font-size: .75rem;
}

.preparation-list span {
    color: var(--Stone-600);
    font-weight: 700;
}

.preparation-list p {
    padding-left: 1.75rem;
}

/* Ingredients section */
.ingredients-list {
    padding-left: 1.5rem;
}

.ingredients-list li::marker {
    color: var(--Brown-800);
    font-size: .75rem;
}

.ingredients-list p {
    padding-left: 1rem;
}

/* Instructions section */
.instructions-list {
    padding-left: 1.5rem;
}

.instructions-list li::marker {
    color: var(--Rose-800);
    font-weight: 700;
}

.instructions-list span {
    color: var(--Stone-600);
    font-weight: 700;
}

.instructions-list p {
    padding-left: 1rem;
}

/* Nutrition section */
.border-bottom {
    padding-bottom: 2rem;
    border-bottom: .0625rem solid var(--Stone-150);
}

.grid-column-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 2rem;
}

.quantity {
    color: var(--Rose-800);
    font-weight: 600;
}

.nutrition-info-wrapper {
    margin-top: 1rem;
}

.nutrition-info-wrapper div:not(:last-child) {
    border-bottom: .0625rem solid var(--Stone-150);
}

.nutrition-info-wrapper div {
    padding: 1rem 0 1rem 2rem;
}

.nutrition-info-wrapper div:last-child {
    padding-bottom: 0;
}

/* ----- Footer ----- */
.attribution {
    font-size: .6875rem;
    text-align: center;
    margin: 1rem 0;
}

.attribution a {
    color: var(--Brown-800);
    font-weight: 700;
}

.attribution a:hover {
    opacity: .7;
    transition: 250ms;
}

/* Responsiveness */
@media (min-width: 39.375rem) {
    .card__info {
        padding: 0;
    }

    .card {
        padding: 2rem;
        border-radius: .75rem;
    }

    .card__img {
        border-radius: .75rem;
    }
}
